<template>
    <v-dialog v-model="$parent.addAnnouncement" max-width="500px">
        <v-card>
            <v-card-text>
                <h1>Dodaj nowe ogłoszenie</h1>
                <v-container grid-list-md>
                    <v-form @keyup.native.enter="save()" class="form">
                        <v-text-field
                                v-validate.in="'required'"
                                v-model="title"
                                :error-messages="errors.collect('tytuł')"
                                label="Tytuł"
                                data-vv-name="tytuł"
                                required>
                        </v-text-field>

                        <v-text-field
                                v-validate.in="'required'"
                                v-model="description"
                                :error-messages="errors.collect('opis')"
                                label="Opis"
                                data-vv-name="opis"
                                required>
                        </v-text-field>
                    </v-form>

                    <v-flex>
                        <v-menu :close-on-content-click="false"
                                v-model="pickDate"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px">
                            <v-text-field
                                    slot="activator"
                                    v-model="date"
                                    label="Data ogłoszenia"
                                    prepend-icon="fa fa-calendar"
                                    readonly
                            ></v-text-field>
                            <v-date-picker locale="pl" v-model="date" :first-day-of-week="1" color="green lighten-1"
                                           @input="pickDate = false"></v-date-picker>
                        </v-menu>
                    </v-flex>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="save()">Zapisz</v-btn>
                <v-btn color="blue darken-1" flat @click="$parent.addAnnouncement = false">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: () => ({
            title: null,
            description: null,
            date: new Date().toISOString().substr(0, 10),
            pickDate: null,
        }),

        methods: {
            save() {
                this.$validator.validate().then(result => {
                    if (result) {
                        let data = {
                            Title: this.title,
                            Content: this.description,
                            Date: this.date,
                        };

                        this.$http.post("Announcement", data)
                            .then(response => {
                                this.announcementAddedMessage();
                                this.$parent.fetchAnnouncements();
                                this.$parent.addAnnouncement = false;
                            })
                            .catch(error => {
                                this.announcementAddFailedMessage();
                            })
                    }
                })
            },

            announcementAddedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie dodano nowe ogłoszenie");
            },

            announcementAddFailedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się dodać nowego ogłoszenia");
            },

        }
    }
</script>