<template>
    <section class="announcements">
        <div class="add-button-wrapper" v-if="isPermittedToManage">
            <v-tooltip left>
                <v-btn slot="activator" flat icon color="green" class="add-button" @click="addAnnouncement = true">
                    <v-icon>fa fa-plus</v-icon>
                </v-btn>

                <span>Dodaj ogłoszenie</span>
            </v-tooltip>
        </div>

        <v-container>
            <h1>Ogłoszenia duszpasterskie w parafii</h1>

            <add-announcement v-if="addAnnouncement"></add-announcement>
            <delete-announcement v-if="announcementDeleting" :delete-announcement="deleteAnnouncement"></delete-announcement>

            <div class="small-screen-add" v-if="isPermittedToManage">
                <v-btn color="green" dark @click="addAnnouncement = true">Dodaj
                    <v-icon dark right>fa fa-plus</v-icon>
                </v-btn>
            </div>

            <div class="management" v-if="announcements">
                <edit-announcement v-if="editAnnouncement" :edited-item="editedItem"></edit-announcement>

                <div class="announcements-wrapper">
                    <v-layout row>
                        <v-flex>
                            <v-card class="announcement" v-for="announcement in announcements" :key="announcement.id">
                                <v-card-title primary-title>
                                    <div class="header">
                                        <div class="headline title">
                                            <v-icon class="icon">fa fa-circle</v-icon>
                                            {{ announcement.title }}
                                        </div>
                                        <span class="date">{{ announcement.date | moment("DD-MM-YYYY")}} r.</span>
                                    </div>
                                </v-card-title>

                                <v-card-text class="content">
                                    {{ announcement.content }}

                                    <v-btn icon class="edit-button" v-if="isPermittedToManage"
                                           @click="show === announcement.id ? show = null : show = announcement.id">
                                        <v-icon>{{ show === announcement.id ? "fa fa-angle-down" : "fa fa-angle-up" }}
                                        </v-icon>
                                    </v-btn>
                                </v-card-text>

                                <v-slide-y-transition>
                                    <div v-show="show === announcement.id" v-if="isPermittedToManage">
                                        <div class="actions">
                                            <v-btn color="green" dark
                                                   @click="editItem(announcement)">Edytuj
                                                <v-icon dark right>fa fa-edit</v-icon>
                                            </v-btn>

                                            <v-btn color="red" dark
                                                   @click="deleteItem(announcement)">Usuń
                                                <v-icon dark right>fa fa-ban</v-icon>
                                            </v-btn>
                                        </div>
                                    </div>
                                </v-slide-y-transition>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </div>

                <div class="text-xs-center">
                    <v-pagination
                            class="pagination"
                            circle
                            v-model="page"
                            :length="totalPages"
                            :total-visible="5"
                            prev-icon="fa fa-angle-left"
                            next-icon="fa fa-angle-right"
                    ></v-pagination>
                </div>
            </div>

            <v-progress-circular
                    v-else
                    :width="3"
                    color="green"
                    indeterminate
            ></v-progress-circular>
        </v-container>
    </section>
</template>

<script>
    import AddAnnouncement from "./AddAnnouncement"
    import EditAnnouncement from "./EditAnnouncement"
    import DeleteAnnouncement from "./DeleteAnnouncement"

    export default {
        computed: {
            isPermittedToManage() {
                if (this.$store.getters.passAuthData) {
                    return (this.$store.getters.passAuthData.roles[0] === "Admin" || this.$store.getters.passAuthData.roles[0] === "Moderator");
                } else {
                    return null;
                }
            },
        },

        data: () => ({
            show: null,
            announcements: null,
            editedItem: {},
            addAnnouncement: false,
            editAnnouncement: false,
            date: null,
            page: 1,
            totalPages: null,
            announcementDeleting: false,
            deleteAnnouncement: null,
        }),

        components: {
            AddAnnouncement,
            EditAnnouncement,
            DeleteAnnouncement
        },

        created() {
            this.fetchAnnouncements();
        },

        watch: {
            "page": function () {
                this.fetchAnnouncements();
            }
        },

        methods: {
            async fetchAnnouncements() {
                this.$http.get("Announcement?page=" + (this.page - 1) + "&pageSize=10")
                    .then(response => {
                        this.announcements = response.data.results;
                        this.totalPages = response.data.pageCount + 1;
                        this.scrollToTop();
                    });
            },

            scrollToTop() {
                setTimeout(() => {
                    window.scroll({
                        top: 0,
                        left: 0,
                        behavior: "smooth"
                    });
                }, 100);
            },

            editItem(item) {
                this.editedItem = Object.assign({}, item);
                this.date = item.date.substr(0, 10);
                this.editAnnouncement = true;
            },

            deleteItem(item) {
                this.announcementDeleting = true;
                this.deleteAnnouncement = Object.assign({}, item);
            },
        }
    }
</script>
<style lang="scss" scoped>
    .pagination {
        padding-top: 25px;
    }

    .announcements {
        z-index: 90;
        padding-top: 50px;
    }

    h1 {
        font-size: 1.6rem;
        font-weight: normal;
        text-align: left;
        margin-bottom: 25px;
    }

    .add-button-wrapper {
        position: sticky;
        z-index: 99;
        top: 15vh;
        float: bottom;
        text-align: right;
        margin-right: 50px;
    }

    .small-screen-add {
        display: none;
    }

    .add-button {
        .v-icon {
            font-size: 3rem;
        }
    }

    .announcement {
        z-index: 90;
        width: 100% !important;
        margin-bottom: 15px;

        .header {
            border-bottom: #80b542 solid 1px;
            display: inline-flex;
            width: 100%;

            .title {
                text-align: left;
                width: 80%;
                padding-bottom: 15px;

                .icon {
                    line-height: 20px;
                    font-size: .7rem;
                    color: #80b542;
                }
            }

            .date {
                float: right;
                text-align: right;
                width: 20%;
            }
        }

        .content {
            text-align: left;
            padding-top: 10px;
            padding-bottom: 30px;
        }

        .edit-button {
            float: right;
        }

        .actions {
            border-top: #80b542 solid 1px;
            padding: 5px 0;
            margin: 0 15px;
            text-align: right;
        }
    }

    @media (max-width: 959px) {
        .announcements {
            padding-top: 55px;
            width: 95%;
        }

        .add-button-wrapper {
              margin-right: 0;
          }
    }

    @media (max-width: 580px) {
        .announcements {
            width: 100%;
        }

        h1 {
            font-size: 1.6rem;
            font-weight: normal;
            text-align: left;
            margin-bottom: 0;
        }

        .announcement {
            .header {
                display: block;

                .title {
                    width: 100%;
                }

                .date {
                    text-align: left;
                    width: 100%;
                }
            }
        }

        .add-button-wrapper {
            display: none;
        }

        .small-screen-add {
            display: block;
            padding: 5px 0;
            text-align: right;
        }
    }
</style>
