<template>
    <v-dialog v-model="$parent.announcementDeleting" max-width="500px">
        <v-card>
            <v-card-text>
                <h1>Usuń ogłoszenie</h1>
                <v-container grid-list-md v-if="deleteAnnouncement">
                    <p>Tytuł: {{ deleteAnnouncement.title }}</p>
                    <p>Opis: {{ deleteAnnouncement.content }}</p>
                    <p>Data: {{ deleteAnnouncement.date | moment("DD-MM-YYYY") }}</p>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" flat @click="save()" :disabled="disableButton">Usuń</v-btn>
                <v-btn color="blue darken-1" flat @click="$parent.announcementDeleting = false">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: () => ({
            disableButton: false,
        }),

        props: {
            deleteAnnouncement: {type: Object}
        },

        methods: {
            save() {
                this.disableButton = true;
                this.$http.delete("Announcement", {data: {Id: this.deleteAnnouncement.id}})
                    .then(response => {
                        this.announcementDeletedMessage();
                        this.$parent.fetchAnnouncements();
                        this.close();
                    })
                    .catch(error => {
                        this.announcementDeletionFailedMessage();
                        this.close();
                    })
            },

            close() {
                this.$parent.announcementDeleting = false;
                this.disableButton = false;
            },

            announcementDeletedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie usunięto ogłoszenie");
            },

            announcementDeletionFailedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się usunąć ogłoszenia");
            },
        },
    }
</script>