<template>
    <v-dialog v-model="$parent.editAnnouncement" max-width="500px">
        <v-card>
            <v-card-text>
                <v-container grid-list-md>
                    <v-flex>
                        <v-text-field v-validate="'required'" v-model="editedItem.title"
                                      label="Tytuł" data-vv-name="title"
                                      :error-messages="errors.collect('title')"></v-text-field>
                    </v-flex>

                    <v-flex>
                        <v-menu :close-on-content-click="false"
                                v-model="editAnnouncementDate"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px">
                            <v-text-field
                                    slot="activator"
                                    v-model="date"
                                    label="Data"
                                    prepend-icon="fa fa-calendar"
                            ></v-text-field>
                            <v-date-picker locale="pl" v-model="date" :first-day-of-week="1"
                                           @input="editAnnouncementDate = false"></v-date-picker>
                        </v-menu>
                    </v-flex>

                    <v-flex>
                        <v-text-field v-validate="'required'" v-model="editedItem.content"
                                      label="Opis" data-vv-name="opis"
                                      :error-messages="errors.collect('opis')"></v-text-field>
                    </v-flex>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="save()" :disabled="disableButton">Zapisz</v-btn>
                <v-btn color="blue darken-1" flat @click="close()">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: () => ({
            editAnnouncementDate: false,
            disableButton: false,
            date: null,
        }),

        props: {
            editedItem: {type: Object},
        },

        created() {
            this.date = this.$parent.date;
        },

        methods: {
            async fetchEventTypes() {
                this.$http.get("EventTypes")
                    .then(response => {
                        this.eventTypes = response.data;
                    });
            },

            save() {
                this.$validator.validate().then(result => {
                    if (result) {
                        let data = {
                            Id: this.editedItem.id,
                            Title: this.editedItem.title,
                            Content: this.editedItem.content,
                            Date: this.date,
                        };

                        this.$validator.validate().then(result => {
                            if (result) {
                                this.disableButton = true;
                                this.$http.put("Announcement", data)
                                    .then(response => {
                                        this.announcementEditedMessage();
                                        this.$parent.fetchAnnouncements();
                                        this.close();
                                        this.disableButton = false;
                                    })
                                    .catch(error => {
                                        this.announcementEditFailMessage();
                                        this.close();
                                        this.disableButton = false;
                                    })
                            }
                        })
                    }
                })
            },

            close() {
                this.$parent.editAnnouncement = false;
            },

            announcementEditedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie edytowano ogłoszenie");
            },

            announcementEditFailMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się edytować ogłoszenia");
            },
        },
    }
</script>