<template>
    <section class="homepage">
        <start></start>
    </section>
</template>
<script>
    import Start from "./Start"

    export default {
        components: {
            Start,
        }
    }
</script>
<style lang="scss" scoped>
</style>
