<template>
    <section class="homepage-start">
        <v-container class="container">
            <div class="text">
                <h1>Zobacz najbliższe wydarzenia w naszej parafii</h1>

                <div class="button-wrapper">
                    <router-link :to="{ name: 'Events' }" class="route">
                        <div class="v-btn button">Zobacz</div>
                    </router-link>
                </div>
            </div>
        </v-container>
    </section>
</template>
<script>
</script>
<style lang="scss" scoped>
    .homepage-start {
        height: 100vh;
        background-image: url("./../../assets/temporary-background.jpg");
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .text {
        margin-top: 28vh;
        padding-top: 3vh;
        padding-bottom: 5vh;
        background: rgba(0, 0, 0, 0.4);

        h1 {
            margin: 10px;
            font-size: 3rem;
            color: white;
        }

        h2 {
            margin: 10px;
            font-size: 1.5rem;
            color: white;
        }
    }

    .button-wrapper {
        margin-top: 35px;
    }

    .button {
        color: white;
        background: #80b542;
        width: 150px;
        cursor: pointer;
        font-size: 1.2rem;
    }

    .route {
        text-decoration: none;
    }

    @media (max-height: 680px) {
        .text {
            margin-top: 23vh;
            padding-top: 3vh;

            h1 {
                font-size: 2.8rem;
            }
        }
    }

    @media (max-height: 480px) {
        .text {
            margin-top: 28vh;

            h1 {
                font-size: 2rem;
            }
        }
    }
</style>
