<template>
    <v-dialog v-model="$parent.addEvent" max-width="500px">
        <v-card>
            <v-card-text>
                <h1>Dodaj nowe wydarzenie</h1>
                <v-container grid-list-md>
                    <v-form @keyup.native.enter="save()" class="form">
                        <v-text-field
                                v-validate.in="'required'"
                                v-model="title"
                                :error-messages="errors.collect('tytuł')"
                                label="Tytuł"
                                data-vv-name="tytuł"
                                required>
                        </v-text-field>

                        <v-text-field
                                v-validate.in="'required'"
                                v-model="description"
                                :error-messages="errors.collect('opis')"
                                label="Opis"
                                data-vv-name="opis"
                                required>
                        </v-text-field>
                    </v-form>

                    <v-select
                            v-validate.in="'required'"
                            :items="eventTypes"
                            v-if="eventTypes"
                            v-model="chosenEventType"
                            item-value="id"
                            item-text="name"
                            :error-messages="errors.collect('typ wydarzenia')"
                            label="Typ wydarzenia"
                            data-vv-name="typ wydarzenia"
                            required>
                    </v-select>

                    <v-progress-circular
                            v-else
                            :width="3"
                            color="green"
                            indeterminate
                    ></v-progress-circular>

                    <v-select
                            v-validate.in="'required'"
                            :items="pictures"
                            v-model="chosenPicture"
                            item-value="name"
                            item-text="label"
                            :error-messages="errors.collect('zdjęcie')"
                            label="Wybierz zdjęcie"
                            data-vv-name="zdjęcie"
                            required>
                    </v-select>

                    <v-flex>
                        <v-menu :close-on-content-click="false"
                                v-model="pickDate"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                min-width="290px">
                            <v-text-field
                                    slot="activator"
                                    v-model="date"
                                    label="Data wydarzenia"
                                    prepend-icon="fa fa-calendar"
                                    readonly
                            ></v-text-field>
                            <v-date-picker locale="pl" v-model="date" :first-day-of-week="1" color="green lighten-1"
                                           @input="pickDate = false"></v-date-picker>
                        </v-menu>
                    </v-flex>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="save()">Zapisz</v-btn>
                <v-btn color="blue darken-1" flat @click="$parent.addEvent = false">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: () => ({
            title: null,
            description: null,
            date: new Date().toISOString().substr(0, 10),
            pickDate: null,
            eventTypes: null,
            chosenPicture: null,
            chosenEventType: null,
            pictures: [
                {label: "Biblia", name: "Bible.png"},
                {label: "Kościół", name: "Church.png"},
                {label: "Chrzest", name: "Baptism.png"},
                {label: "Komunia", name: "Communion.png"},
                {label: "Bierzmowanie", name: "Confirmation.png"},
                {label: "Rekolekcje", name: "Retreat.png"},
                {label: "Pielgrzymka", name: "Pilgrimage.png"},
                {label: "Ślub", name: "Wedding.png"},
                {label: "Pogrzeb", name: "Funeral.png"},
            ]
        }),

        created() {
            this.fetchEventTypes();
        },

        methods: {
            async fetchEventTypes() {
                this.$http.get("EventTypes")
                    .then(response => {
                        this.eventTypes = response.data;
                    });
            },

            save() {
                this.$validator.validate().then(result => {
                    if (result) {
                        let data = {
                            Name: this.title,
                            Description: this.description,
                            Date: this.date,
                            EventTypeId: this.chosenEventType,
                            ImageName: this.chosenPicture,
                        };

                        this.$http.post("Event", data)
                            .then(response => {
                                this.eventAddedMessage();
                                this.$parent.fetchEvents();
                                this.$parent.addEvent = false;
                            })
                            .catch(error => {
                                this.eventAddFailedMessage();
                            })
                    }
                })
            },

            eventAddedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie dodano nowe wydarzenie");
            },

            eventAddFailedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się dodać nowego wydarzenia");
            },
        },
    }
</script>