<template>
    <v-dialog v-model="$parent.eventDeleting" max-width="500px">
        <v-card>
            <v-card-text>
                <h1>Usuń wydarzenie</h1>
                <v-container grid-list-md v-if="deleteEvent">
                    <p>Nazwa: {{ deleteEvent.name }}</p>
                    <p>Typ wydarzenia: {{ deleteEvent.eventTypeName }}</p>
                    <p>Opis: {{ deleteEvent.description }}</p>
                    <p>Data wydarzenia: {{ deleteEvent.date | moment("DD-MM-YYYY") }}</p>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" flat @click="save()" :disabled="disableButton">Usuń</v-btn>
                <v-btn color="blue darken-1" flat @click="$parent.eventDeleting = false">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: () => ({
            disableButton: false,
        }),

        props: {
            deleteEvent: {type: Object}
        },

        methods: {
            save() {
                let id = null;

                if(this.deleteEvent.id) {
                    id = this.deleteEvent.id
                } else {
                    id = this.deleteEvent.eventId
                }

                this.disableButton = true;
                this.$http.delete("Event", {data: {Id: id}})
                    .then(response => {
                        this.$parent.deletedEventId = id;
                        this.$parent.eventDeletedMessage();
                        this.$parent.fetchEvents();
                        this.close();
                    })
                    .catch(error => {
                        this.eventDeletionFailedMessage();
                        this.close();
                    })
            },

            close() {
                this.$parent.eventDeleting = false;
                this.disableButton = false;
            },

            eventDeletionFailedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się usunąć wydarzenia");
            },
        },
    }
</script>