<template>
    <v-dialog v-model="$parent.editEvent" max-width="500px">
        <v-card>
            <v-card-text>
                <h1>Edytuj wydarzenie</h1>
                <v-container grid-list-md>
                    <v-form @keyup.native.enter="save()" class="form">
                        <v-text-field v-validate="'required'" v-model="editedItem.name"
                                      label="Nazwa" data-vv-name="nazwa"
                                      :error-messages="errors.collect('nazwa')"></v-text-field>

                        <v-text-field v-validate="'required'" v-model="editedItem.description"
                                      label="Opis" data-vv-name="opis"
                                      :error-messages="errors.collect('opis')"></v-text-field>
                    </v-form>

                    <v-select
                            v-validate.in="'required'"
                            :items="eventTypes"
                            v-model="editEventType"
                            item-value="id"
                            item-text="name"
                            :error-messages="errors.collect('typ wydarzenia')"
                            label="Typ wydarzenia"
                            data-vv-name="typ wydarzenia"
                            :placeholder="editedItem.eventTypeName"
                            required>
                    </v-select>

                    <v-select
                            v-validate.in="'required'"
                            :items="pictures"
                            v-model="editEventPicture"
                            item-value="name"
                            item-text="label"
                            :error-messages="errors.collect('zdjęcie')"
                            label="Zdjęcie"
                            data-vv-name="zdjęcie"
                            required
                            :placeholder="$parent.getPictureName(editedItem.imageName)">
                    </v-select>

                    <v-menu :close-on-content-click="false"
                            v-model="editEventDate"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px">
                        <v-text-field
                                slot="activator"
                                v-model="date"
                                label="Data wydarzenia"
                                prepend-icon="fa fa-calendar"
                        ></v-text-field>
                        <v-date-picker locale="pl" v-model="date" :first-day-of-week="1"
                                       color="green lighten-1"
                                       @input="editEventDate = false"></v-date-picker>
                    </v-menu>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="save()" :disabled="disableButton">Zapisz</v-btn>
                <v-btn color="blue darken-1" flat @click="close()">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: () => ({
            date: null,
            eventTypes: null,
            chosenPicture: null,
            chosenEventType: null,
            editEventType: null,
            editEventDate: null,
            editEventPicture: null,
            pictures: [
                {label: "Biblia", name: "Bible.png"},
                {label: "Kościół", name: "Church.png"},
                {label: "Chrzest", name: "Baptism.png"},
                {label: "Komunia", name: "Communion.png"},
                {label: "Bierzmowanie", name: "Confirmation.png"},
                {label: "Rekolekcje", name: "Retreat.png"},
                {label: "Pielgrzymka", name: "Pilgrimage.png"},
                {label: "Ślub", name: "Wedding.png"},
                {label: "Pogrzeb", name: "Funeral.png"},
            ],
            disableButton: false,
        }),

        created() {
            this.fetchEventTypes();
            this.date = this.$parent.date;
        },

        props: {
            editedItem: {type: Object},
        },

        methods: {
            async fetchEventTypes() {
                this.$http.get("EventTypes")
                    .then(response => {
                        this.eventTypes = response.data;
                    });
            },

            save() {
                this.$validator.validate().then(result => {
                    if (result) {
                        let id = null;

                        if(this.editedItem.id) {
                            id = this.editedItem.id
                        } else {
                            id = this.editedItem.eventId
                        }

                        let data = {
                            Id: id,
                            Description: this.editedItem.description,
                            Name: this.editedItem.name,
                            Date: this.date,
                            EventTypeId: this.editEventType,
                            ImageName: this.editEventPicture,
                        };

                        this.$validator.validate().then(result => {
                            if (result) {
                                this.disableButton = true;
                                this.$http.put("Event", data)
                                    .then(response => {
                                        this.eventEditedMessage();
                                        this.$parent.fetchEvents();
                                        this.close();
                                        this.disableButton = false;
                                    })
                                    .catch(error => {
                                        this.eventEditFailMessage();
                                        this.close();
                                        this.disableButton = false;
                                    })
                            }
                        })
                    }
                })
            },

            close() {
              this.$parent.editEvent = false;
            },

            eventEditedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie edytowano dane wydarzenia");
            },

            eventEditFailMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się edytować danych wydarzenia");
            },
        },
    }
</script>