<template>
    <section class="events">

        <div class="add-button-wrapper">
            <v-tooltip left>
                <v-btn slot="activator" flat icon color="green" class="add-button" @click="addEvent = true" v-if="isPermittedToManage">
                    <v-icon>fa fa-plus</v-icon>
                </v-btn>

                <span>Dodaj ogłoszenie</span>
            </v-tooltip>
        </div>

        <v-container>
            <div>
                <v-alert v-model="alert" dismissible type="info" class="alert">
                    Wydarzenie zostało usunięte. Kliknij
                    <v-btn color="#1769aa"
                           dark
                           @click="undoDeletion()">
                        COFNIJ
                    </v-btn>

                    aby cofnąć operację.
                </v-alert>
            </div>

            <h1>Wydarzenia w parafii</h1>

            <add-event v-if="addEvent"></add-event>
            <edit-event v-if="editEvent" :edited-item="editedItem"></edit-event>
            <delete-event v-if="eventDeleting" :delete-event="deleteEvent"></delete-event>
            <show-event v-if="showEventDetails" :event-details="eventDetails"></show-event>

            <div class="small-screen-add" v-if="isPermittedToManage">
                <v-btn color="green" dark @click="addEvent = true">Dodaj
                    <v-icon dark right>fa fa-plus</v-icon>
                </v-btn>
            </div>

            <v-layout row wrap v-if="events">
                <v-flex xs12 sm6 md5 lg4 class="my-2 px-1" id="calendar-wrapper">
                    <h2 class="calendar-title">Wybierz datę wydarzeń</h2>
                    <v-date-picker
                            class="calendar" ref="picker" color="green lighten-1"
                            v-model="calendarDate" locale="pl-pl" :picker-date.sync="pickerDate"
                            full-width
                    ></v-date-picker>
                </v-flex>

                <v-flex xs12 sm6 md7 lg8 class="my-2 px-1" v-if="!events[0]">
                    <div class="no-events">
                        <h2>Nie ma żadnych wydarzeń dnia {{ calendarDate | moment("DD-MM-YYYY") }} r.</h2>
                    </div>
                </v-flex>

                <v-flex xs12 sm6 md7 lg8 class="my-2 px-1" v-else>
                    <h2>Wydarzenia na dzień {{ calendarDate | moment("DD-MM-YYYY") }} r.</h2>
                    <div class="event" v-for="(event, index) in events">
                        <v-card>
                            <v-img v-if="event.imageName" :src="getImage(event.imageName)" height="100px"></v-img>

                            <v-card-title primary-title>
                                <div>
                                    <div class="headline">{{ event.name }}</div>
                                    <span class="grey--text">{{ event.eventTypeName }}</span>
                                </div>
                            </v-card-title>

                            <v-card-actions>
                                <v-btn flat color="light-blue" @click="showDetails(event)">Szczegóły</v-btn>
                            </v-card-actions>

                            <v-card-actions v-if="isPermittedToManage && event.eventTypeName !== 'Msza'">
                                <v-btn flat color="light-green" @click="editItem(event)">
                                    Edytuj
                                </v-btn>
                                <v-btn flat color="red" @click="deleteItem(event)">Usuń</v-btn>

                            </v-card-actions>

                            <v-slide-y-transition>
                                <v-card-text v-show="show === index">
                                    {{ event.description }}
                                </v-card-text>
                            </v-slide-y-transition>
                        </v-card>
                    </div>
                </v-flex>
            </v-layout>

            <v-progress-circular
                    v-else
                    :width="3"
                    color="green"
                    indeterminate
            ></v-progress-circular>
        </v-container>
    </section>
</template>
<script>
    import AddEvent from "./AddEvent"
    import EditEvent from "./EditEvent"
    import DeleteEvent from "./DeleteEvent"
    import ShowEvent from "./ShowEvent"

    export default {
        data: () => ({
            alert: false,
            calendarDate: new Date().toISOString().substr(0, 10),
            pickerDate: null,
            addEvent: null,
            editEvent: null,
            events: null,
            show: false,
            showEventDetails: false,
            eventDetails: false,
            date: null,
            deletedEventId: null,
            timeout: null,
            eventDeleting: false,
            deleteEvent: null,
        }),

        components: {
            AddEvent,
            EditEvent,
            ShowEvent,
            DeleteEvent
        },

        computed: {
            isPermittedToManage() {
                if (this.$store.getters.passAuthData) {
                    return (this.$store.getters.passAuthData.roles[0] === "Admin" || this.$store.getters.passAuthData.roles[0] === "Moderator");
                } else {
                    return null;
                }
            },
        },

        created() {
            this.fetchEvents();
        },

        methods: {
            fetchEvents() {
                this.$http.post("Calendar", {StartDate: this.calendarDate})
                    .then(response => {
                        this.events = response.data;
                    })
            },

            getImage(name) {
                let images = require.context('../../assets/EventPictures');
                return images('./' + name)
            },

            showDetails(event) {
                this.eventDetails = event;
                this.showEventDetails = true;
            },

            getPictureName(picture) {
                switch (picture) {
                    case "Bible.png": {
                        return "Biblia";
                    }
                    case "Church.png": {
                        return "Kościół";
                    }
                    case "Baptism.png": {
                        return "Chrzest";
                    }
                    case "Communion.png": {
                        return "Komunia";
                    }
                    case "Confirmation.png": {
                        return "Bierzmowanie";
                    }
                    case "Retreat.png": {
                        return "Rekolekcje";
                    }
                    case "Pilgrimage.png": {
                        return "Pielgrzymka";
                    }
                    case "Wedding.png": {
                        return "Ślub";
                    }
                    case "Funeral.png": {
                        return "Pogrzeb";
                    }
                }
            },

            editItem(item) {
                this.editedItem = Object.assign({}, item);
                this.date = item.date.substr(0, 10);
                this.editEvent = true;
            },

            deleteItem(item) {
                this.eventDeleting = true;
                this.deleteEvent = Object.assign({}, item);
            },

            undoDeletion() {
                this.alert = false;
                this.$http.post("Event/undelete", {Id: this.deletedEventId})
                    .then(response => {
                        this.eventDeletionCanceledMessage();
                        this.fetchEvents();
                    })
                    .catch(error => {
                        this.eventDeletionCancelFailedMessage();
                    })
            },

            eventDeletedMessage() {
                this.alert = true;
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    this.alert = false;
                }, 5000)
            },

            eventDeletionCanceledMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie przywrócono wydarzenie.");
            },

            eventDeletionCancelFailedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się przywrócić wydarzenia.");
            },
        },

        watch: {
            "calendarDate": function () {
                this.fetchEvents();
            }
        },
    }

</script>
<style lang="scss" scoped>
    section {
        padding-top: 50px;
        text-align: left;
    }

    .alert {
        margin-bottom: 25px;
    }

    .calendar {
        margin-right: 25px;
    }

    h1, h2 {
        font-size: 1.6rem;
        font-weight: normal;
        text-align: left;
    }

    h1 {
        margin-bottom: 25px;
    }

    h2 {
        margin-bottom: 25px;
        border-bottom: #66bb6a 1px solid;
    }

    .event {
        display: inline-block;
        width: 47.5%;
        margin-right: 2.5%;
        padding-bottom: 25px;
    }

    .add-button-wrapper {
        position: sticky;
        z-index: 99;
        top: 15vh;
        float: bottom;
        text-align: right;
        margin-right: 50px;
    }

    .add-button {
        .v-icon {
            font-size: 3rem;
        }
    }

    .small-screen-add {
        display: none;
    }

    @media (max-width: 1263px) {
        .event {
            display: block;
            width: auto;
            margin: 0 15%;
        }
    }

    @media (max-width: 959px) {
        .event {
            margin-left: 0;
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        h1 {
            border-bottom: #66bb6a 1px solid;
        }
        .calendar-title {
            display: none;
        }
        .calendar {
            margin-top: 65px;
        }
    }

    @media (max-width: 599px) {
        .calendar {
            margin-right: 0;
            margin-top: 0;
        }

        h1 {
            padding-top: 25px;
            margin-bottom: 7px;
        }

        .add-button-wrapper {
            display: none;
        }

        .small-screen-add {
            display: block;
            padding: 5px 0;
            text-align: right;
        }

        .event {
            display: inline-block;
            width: 47.5%;
            margin-right: 2.5%;
            padding-bottom: 25px;
        }
    }

    @media (max-width: 550px) {
        .event {
            display: block;
            width: 100%;
            margin-right: 0;
            padding-bottom: 25px;
        }
    }
</style>