<template>
    <v-dialog v-model="$parent.showEventDetails" max-width="500px" class="details">
        <v-card>
            <v-card-text>
                <h1>Szczegóły wydarzenia {{ eventDetails.name }}</h1>
                <div class="date">
                    Data wydarzenia: {{eventDetails.date | moment("DD-MM-YYYY") }} r.
                </div>
                <v-card>
                    <v-img v-if="eventDetails.imageName" :src="$parent.getImage(eventDetails.imageName)"></v-img>

                    <v-card-title primary-title>
                        <div class="headline">Informacje o wydarzeniu</div>
                    </v-card-title>

                    <v-card-text class="description">
                        <p>Nazwa wydarzenia: {{ eventDetails.name }}</p>
                        <p>Rodzaj wydarzenia: {{ eventDetails.eventTypeName }}</p>
                        <p v-if="eventDetails.type !== 'Msza'" >Opis: {{ eventDetails.description }}</p>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="$parent.showEventDetails = false">Zamknij</v-btn>
                    </v-card-actions>
                </v-card>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        props: {
            eventDetails: {type: Object}
        },
    }
</script>
<style lang="scss" scoped>
    .date {
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .description {
        text-align: left;
        padding-bottom: 0;
    }

    .v-card__title--primary {
        padding-bottom: 0;
    }

    .headline {
        border-bottom: #66bb6a 1px solid;
    }

    p {
        margin: 5px;
    }
</style>