<template>
    <section class="priests-data">
        <v-container>
            <v-toolbar flat class="toolbar">
                <h1>O księżach w parafii</h1>
                <v-spacer></v-spacer>

                <router-link :to="{ name: 'AdminPanel' }" class="big-route" v-if="isAdmin">
                    <v-btn color="green" dark class="big-route">Dodaj osobę
                        <v-icon dark right>fa fa-plus</v-icon>
                    </v-btn>
                </router-link>

                <router-link :to="{ name: 'AdminPanel' }" class="small-route" v-if="isAdmin">
                    <v-btn color="green" dark class="">
                        <v-icon dark>fa fa-plus</v-icon>
                    </v-btn>
                </router-link>
            </v-toolbar>

            <v-card class="card" v-for="priest in priests" :key="priest.label">
                <v-layout row>
                    <v-flex xs5>
                        <v-img :src="priest.image" height="200px" contain></v-img>
                    </v-flex>

                    <v-flex xs7>
                        <v-card-title primary-title>
                            <div>
                                <div class="headline">{{ priest.name }}</div>
                                <div>{{ priest.title }}</div>
                                <div>{{ priest.description }}</div>
                            </div>
                        </v-card-title>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-container>
    </section>
</template>
<script>
    import PriestPeter from "../../assets/Priests/PriestPeter.png"
    import PriestMatt from "../../assets/Priests/PriestMatt.png"
    import PriestJohn from "../../assets/Priests/PriestJohn.png"

    export default {
        data: () => ({
            priests: [
                {
                    image: PriestPeter,
                    name: "ks. bp Piotr Kozioł",
                    title: "Proboszcz parafii",
                    description: "Ksiądz proboszcz, w parafii od 1992r. Biskup diecezji Legnickiej."
                },
                {
                    image: PriestMatt,
                    name: "ks. Mateusz Żmigrodzki",
                    title: "Ksiądz wikary",
                    description: "Wikariusz, w parafii od 2003r, naczelny redaktor tygodnika Niedziela."
                },
                {
                    image: PriestJohn,
                    name: "ks. Jan Kowalski",
                    title: "Ksiądz wikary",
                    description: "Wikariusz, w parafii od 2010r, katecheta w szkole podstawowej."
                },
            ]
        }),

        computed: {
            isAdmin() {
                if(this.$store.getters.passAuthData)
                {
                    return this.$store.getters.passAuthData.roles[0] === "Admin"
                }
            }
        },

    }
</script>
<style lang="scss" scoped>
    h1 {
        font-size: 1.6rem;
        font-weight: normal;
        text-align: left;
        margin-bottom: 25px;
    }

    .card {
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: left;
    }

    .route {
        text-underline: none !important;
    }

    .small-route {
        display: none;
    }

    .big-route {
        text-underline: none !important;
    }

    @media (max-width: 480px) {
        .toolbar {
            padding-top: 25px;
        }

        .small-route {
            text-underline: none !important;
            display: block;
        }

        .big-route {
            display: none;
        }
    }
</style>