<template>
    <section class="church">
        <v-container>
            <h1>O parafii i kościele</h1>

            <div class="parish-data" v-if="parish">
                <h2>Parafia {{ parish.name }}</h2>
                <p>Adres: {{ parish.address }}</p>
            </div>

            <v-progress-circular
                    v-else
                    :width="3"
                    color="green"
                    indeterminate
            ></v-progress-circular>

            <div class="church-data" v-if="church">
                <h2>Kościół {{ church.name }}</h2>
                <p>Adres: {{ church.address }}</p>
            </div>

            <v-progress-circular
                    v-else
                    :width="3"
                    color="green"
                    indeterminate
            ></v-progress-circular>

            <div class="description" v-if="church">
                <p><b>Kościół parafialny w Legnicy</b> - {{ church.description }}</p>
            </div>
            <v-progress-circular
                    v-else
                    :width="3"
                    color="green"
                    indeterminate
            ></v-progress-circular>

            <div class="carousel-wrapper">
                <v-carousel class="carousel">
                    <v-carousel-item
                            v-for="(item,i) in items"
                            :key="i"
                            :src="item.src"
                    ></v-carousel-item>
                </v-carousel>
            </div>
        </v-container>
    </section>
</template>
<script>
    import Church1 from "../../assets/Church/Church1.jpg"
    import Church2 from "../../assets/Church/Church2.jpg"
    import Church3 from "../../assets/Church/Church3.jpg"
    import Church4 from "../../assets/Church/Church4.jpg"

    export default {
        data: () => ({
            parish: null,
            church: null,
            items: [
                {src: Church4},
                {src: Church2},
                {src: Church3},
                {src: Church1},
            ]
        }),

        created() {
            this.fetchParishData();
            this.fetchChurchData();
        },

        methods: {
            fetchParishData() {
                this.$http.get("Parish/1")
                    .then(response => {
                        this.parish = response.data;
                    })
            },

            fetchChurchData() {
                this.$http.get("Church")
                    .then(response => {
                        this.church = response.data[0];
                    })
            },
        }
    }
</script>
<style lang="scss" scoped>
    .church {
        text-align: left;
        margin: 0 300px;
    }

    h1 {
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom: 25px;
        border-bottom: #b4364d 1px solid;
    }

    .carousel-wrapper {
        padding-top: 35px;
    }

    .description {
        padding-top: 15px;
        font-size: 1.1rem;
    }

    @media (max-width: 1903px) {
        .church {
            text-align: left;
            margin: auto;
        }
    }
</style>