<template>
    <section class="about-us">
        <div>
            <v-toolbar color="#b4364d" dark tabs>
                <v-toolbar-side-icon></v-toolbar-side-icon>
                <v-toolbar-title>Page title</v-toolbar-title>

                <v-spacer></v-spacer>

                <v-tabs slot="extension" centered color="#b4364d" slider-color="white">
                    <v-tab v-for="tab in tabs" :key="tab.label" @click="model = tab.label">
                        {{ tab.label }}
                    </v-tab>
                </v-tabs>
            </v-toolbar>
        </div>
        <about-church v-if="model === 'Kościół'"></about-church>
        <about-priests v-if="model === 'Księża'"></about-priests>
        <contact v-if="model === 'Kontakt'"></contact>
    </section>
</template>
<script>
    import AboutChurch from "./AboutChurch"
    import AboutPriests from "./AboutPriests"
    import Contact from "./Contact"
    export default {
        data() {
            return {
                tabs: [
                    {label: "Kościół"},
                    {label: "Księża"},
                    {label: "Kontakt"},
                ],
                model: "Kościół",
            }
        },

        components: {
            AboutChurch,
            AboutPriests,
            Contact
        }
    }
</script>
<style lang="scss" scoped>
    div {
        color: #b4364d;
    }
</style>