<template>
    <section class="contact-data">
        <v-container>
            <h1>Formularz kontaktowy</h1>

            <div class="parish-data" v-if="parish">
                <h2>Parafia {{ parish.name }}</h2>
                <p>Adres: {{ parish.address }}</p>
            </div>

            <v-form @keyup.native.enter="submit()"
                    class="form" ref="form" lazy-validation>
                <v-text-field
                        v-validate.in="'required'"
                        v-model="title"
                        :error-messages="errors.collect('tytuł')"
                        label="Tytuł"
                        data-vv-name="tytuł"
                        required>
                </v-text-field>

                <v-text-field
                        v-validate.in="'required|email'"
                        v-model="email"
                        :error-messages="errors.collect('email')"
                        label="Email kontaktowy"
                        data-vv-name="email"
                        required>
                </v-text-field>

                <v-text-field
                        v-validate.in="'required'"
                        v-model="description"
                        :error-messages="errors.collect('opis')"
                        label="Opis"
                        data-vv-name="opis"
                        required>
                </v-text-field>

                <div class="button-wrapper">
                    <v-btn @click="submit()" :disabled="loading">
                        Wyślij zgłoszenie
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </section>
</template>
<script>
    export default {
        data: () => ({
            parish: null,
            title: null,
            description: null,
            email: null,
            loading: null,
        }),

        created() {
            this.fetchParishData();
        },

        methods: {
            fetchParishData() {
                this.$http.get("Parish/1")
                    .then(response => {
                        this.parish = response.data;
                    })
            },

            submit() {
                this.loading = true;
                this.$validator.validate().then(result => {
                    if (result) {
                        let data = {
                            SenderEmail: this.email,
                            Title: this.title,
                            Content: this.description,
                        };

                        this.$http.post("Ticket/contactForm", data)
                            .then(response => {
                                this.clearForm();
                                this.emailSentMessage();
                                this.loading = false;
                            })
                            .catch(error => {
                                this.clearForm();
                                this.emailSendErrorMessage();
                                this.loading = false;
                            })
                    }
                })
            },

            clearForm() {
                this.title = null;
                this.description = null;
                this.email = null;
            },

            emailSentMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Zgłoszenie zostało przyjęte");
            },

            emailSendErrorMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się dodać zgłoszenia");
            },
        }
    }
</script>
<style lang="scss" scoped>
    h1 {
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom: 25px;
        border-bottom: #b4364d 1px solid;
    }

    .contact-data {
        text-align: left;
    }
</style>