<template>
    <div class="footer-wrapper">
        <div class="v-footer dark">
            <v-card class="flex">
                <v-card class="upper-footer">
                    <v-btn v-for="socialMedia in socialMedias" icon :key="socialMedia.label">
                        <a :href="socialMedia.link">
                            <v-icon size="24px">{{ socialMedia.icon }}</v-icon>
                        </a>
                    </v-btn>
                </v-card>

                <v-card-actions class="bottom-footer">
                    &copy;2019 — <strong>Church Manager</strong>
                </v-card-actions>
            </v-card>
        </div>
    </div>
</template>
<script>
    export default {
        data: () => ({
            socialMedias: [
                {
                    label: "Facebook",
                    icon: "fa fa-facebook",
                    link: "https://www.facebook.com/Church-Manager-281864102521287/"
                },
                {
                    label: "Twitter",
                    icon: "fa fa-twitter",
                    link: "https://twitter.com/ParafiaD?fbclid=IwAR2ykcS1xTIGCZvWx6GVC4y9YxBbnp9JftNsUBBqnzCFQ8u1ezokkDvau8k"
                },
                {
                    label: "Instagram",
                    icon: "fa fa-instagram",
                    link: "https://www.instagram.com/church_manager/"
                },
            ],
        }),

        methods: {
            isAdmin() {
                return true;
            }
        },
    }
</script>
<style lang="scss" scoped>
    .footer-wrapper {
        * {
            color: white;
        }
    }

    .upper-footer {
        background: #761823;
        justify-content: center;
    }

    .bottom-footer {
        background: #312021;
        justify-content: center;
    }
</style>
