<template>
    <div class="navbar">
        <v-toolbar class="toolbar">
            <router-link class="logo" :to="{name: 'Homepage'}">
                <img class="logo-image" src="../../assets/logo.png"/>
                <v-toolbar-title class="title">Church Manager</v-toolbar-title>
            </router-link>
            <v-spacer></v-spacer>

            <v-toolbar-items class="menu-items">
                <router-link v-for="basicRoute in basicRoutes" :key="basicRoute.label"
                             :to="{ name: basicRoute.name }" class="route">
                    <v-btn flat class="route-button">{{ basicRoute.label }}</v-btn>
                </router-link>

                <router-link v-if="loggedIn" v-for="authRoute in authRoutes" :key="authRoute.label"
                             :to="{ name: authRoute.name }" class="route">
                    <v-btn flat class="route-button">{{ authRoute.label }}</v-btn>
                </router-link>

                <router-link v-if="loggedIn && isAdmin" :to="{ name: 'AdminPanel' }" class="route">
                    <v-btn flat class="route-button">Panel</v-btn>
                </router-link>

                <router-link v-if="!loggedIn" :to="{ name: 'Login' }" class="route">
                    <v-btn flat class="route-button">Zaloguj się</v-btn>
                </router-link>

                <router-link v-else :to="{ name: 'Login' }" class="route">
                    <v-btn flat class="route-button" @click="logout()">Wyloguj się</v-btn>
                </router-link>
            </v-toolbar-items>

            <v-menu class="toggler"
                    transition="slide-x-transition"
                    bottom>

                <v-icon class="icon"
                        size="24px"
                        slot="activator">fa fa-bars
                </v-icon>

                <v-list class="modal">
                    <router-link v-for="basicRoute in basicRoutes" :key="basicRoute.label"
                                 :to="{ name: basicRoute.name }" v-bind:key="basicRoute.label" class="route">
                        <v-list-tile>
                            {{ basicRoute.label }}
                        </v-list-tile>
                        <v-divider></v-divider>
                    </router-link>

                    <router-link v-if="loggedIn" v-for="authRoute in authRoutes" :key="authRoute.label"
                                 :to="{ name: authRoute.name }" v-bind:key="authRoute.label" class="route">
                        <v-list-tile>
                            {{ authRoute.label }}
                        </v-list-tile>
                        <v-divider></v-divider>
                    </router-link>

                    <router-link v-if="loggedIn && isAdmin" :to="{ name: 'AdminPanel' }" class="route">
                        <v-list-tile>
                            Panel admina
                        </v-list-tile>
                        <v-divider></v-divider>
                    </router-link>

                    <router-link v-if="!loggedIn" :to="{ name: 'Login' }" class="route">
                        <v-list-tile>
                            Zaloguj się
                        </v-list-tile>
                        <v-divider></v-divider>
                    </router-link>

                    <router-link v-if="loggedIn" :to="{ name: 'Login' }" class="route">
                        <v-list-tile @click="logout()">
                            Wyloguj się
                        </v-list-tile>
                        <v-divider></v-divider>
                    </router-link>
                </v-list>
            </v-menu>
        </v-toolbar>
    </div>
</template>
<script>
    export default {
        computed: {
            loggedIn() {
                return this.$store.getters.passAuthData
            },

            isAdmin() {
                return this.$store.getters.passAuthData.roles[0] === "Admin"
            }
        },

        data: () => ({
            authRoutes: [
                {label: "Statystyki", name: "Charts"}
            ],
            basicRoutes: [
                {label: "O nas", name: "AboutUs"},
                {label: "Wydarzenia", name: "Events"},
                {label: "Ogłoszenia", name: "Announcements"},
            ],
        }),

        methods: {
            async logout() {
                this.$http.post("Authentication/logout", null)
                    .then(response => {
                        this.loggedOutMessage();
                        this.$auth.destroyUserData();
                        this.$store.commit("passAuthData", null);
                    })
            },

            loggedOutMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie wylogowano");
            },
        },
    }
</script>
<style lang="scss" scoped>
    .navbar {
        position: fixed;
        width: 100%;
        .title, .menu-items {
            color: white !important;
            * {
                color: white;
            }

            .route {
                .route-button {
                    height: 100%;
                }
            }
        }

        .toolbar {
            background: rgba(167, 19, 46, 0.85);
            z-index: 101;
        }

        .title {
            font-weight: bold;
            padding-top: 15px;
        }
    }

    .route {
        text-decoration: none;
    }

    .logo {
        text-decoration: none;
        display: flex;
    }

    .logo-image {
        height: 50px;
        width: 45px;
    }

    .bars-button {
        i {
            color: white !important;
        }
    }

    .toggler, .modal {
        display: none;
    }

    @media (max-width: 959px) {
        .logo-image {
            height: 40px;
            width: 35px;
        }

        .navbar .title {
            padding-top: 10px;
        }
    }

    @media (max-width: 890px) {
        .toggler {
            display: block;
            .icon {
                color: white;
            }
        }

        .modal {
            display: block;
            width: 50vw;
            z-index: 100;
            background: rgba(167, 19, 46, 0.85);
            * {
                color: white;
            }
        }

        .menu-items {
            display: none;
        }
    }
</style>
