<template>
    <section class="panel">
        <v-navigation-drawer stateless value="true" class="big-screen-menu">
            <v-list class="list">
                <v-list-tile v-for="(crud, i) in mainCruds" :key="i"
                             @click="changeComponent(crud.component)">
                    <v-list-tile-title v-text="crud.label"></v-list-tile-title>
                    <v-list-tile-action>
                    </v-list-tile-action>
                </v-list-tile>

                <v-list-group sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-title>Użytkownicy</v-list-tile-title>
                    </v-list-tile>

                    <v-list-tile v-for="(crud, i) in userCruds" :key="i"
                                 @click="changeComponent(crud.component)">
                        <v-list-tile-title v-text="crud.label"></v-list-tile-title>
                        <v-list-tile-action>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list-group>
            </v-list>
        </v-navigation-drawer>

        <div class="navbar">
            <v-toolbar class="toolbar">
                <v-spacer></v-spacer>
                <v-btn icon v-for="(crud, i) in smallScreenCruds" :key="i"
                       @click="changeComponent(crud.component)">
                    <v-icon>{{ crud.icon }}</v-icon>
                </v-btn>
            </v-toolbar>
        </div>

        <div class="content">
            <registration v-if="showComponent === 'register'"></registration>
            <users-management v-if="showComponent === 'users'"></users-management>
            <events-management v-if="showComponent === 'events'"></events-management>
            <announcements-management v-if="showComponent === 'announcements'"></announcements-management>
            <parish-management v-if="showComponent === 'parish'"></parish-management>
        </div>
    </section>
</template>
<script>
    import Registration from "./Users/Registration"
    import UsersManagement from "./Users/UsersManagement"
    import EventsManagement from "./EventsManagement"
    import AnnouncementsManagement from "./AnnouncementsManagement"
    import ParishManagement from "./ParishManagement"

    export default {
        data: () => ({
            showComponent: "parish",
            admins: [
                ["Management", "people_outline"],
                ["Settings", "settings"]
            ],
            userCruds: [
                {label: "Zarządzanie", component: "users"},
                {label: "Rejestracja", component: "register"},
            ],
            mainCruds: [
                {label: "Wydarzenia", component: "events"},
                {label: "Ogłoszenia", component: "announcements"},
                {label: "Parafia", component: "parish"},
            ],
            smallScreenCruds: [
                {label: "Wydarzenia", icon: "fa fa-calendar", component: "events"},
                {label: "Ogłoszenia", icon: "fa fa-bell", component: "announcements"},
                {label: "Parafia", icon: "fa fa-cog", component: "parish"},
                {label: "Zarządzanie", icon: "fa fa-users", component: "users"},
                {label: "Rejestracja", icon: "fa fa-user-plus", component: "register"},
            ]
        }),

        components: {
            Registration,
            UsersManagement,
            EventsManagement,
            AnnouncementsManagement,
            ParishManagement
        },

        methods: {
            changeComponent(component) {
                this.showComponent = component;
            }
        }
    }

</script>
<style lang="scss" scoped>
    .panel {
        display: flex;

        .list {
            width: 250px;
            padding-top: 75px;
            height: 100vh;
        }
    }

    .big-screen-menu {
        width: 280px !important
    }

    .navbar {
        display: none;
    }

    .content {
        padding: 75px 25px;
        width: 100%;
    }

    @media (max-width: 767px) {
        .panel {
            display: block;
        }
        .big-screen-menu {
            display: none !important;
        }

        .navbar {
            display: block;
            padding-top: 50px;

            * {
                color: white;
            }

            .toolbar {
                background: rgba(167, 19, 46, 0.85);
            }
        }

        .content {
            padding: 25px 10px;
        }
    }

    @media (max-width: 480px) {
        .navbar {
            padding-top: 55px;
        }
    }
</style>
