<template>
    <div class="management" v-if="announcements">
        <div class="table">
            <add-announcement v-if="addAnnouncement"></add-announcement>
            <edit-announcement v-if="editAnnouncement" :edited-item="editedItem"></edit-announcement>
            <delete-announcement v-if="announcementDeleting" :delete-announcement="deleteAnnouncement"></delete-announcement>

            <v-toolbar flat>
                <v-toolbar-title>Ogłoszenia duszpasterskie</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-btn class="add-button" color="green" dark @click="addAnnouncement = true">Dodaj nowe
                    <v-icon dark right>fa fa-plus</v-icon>
                </v-btn>

                <v-btn flat icon color="green" class="small-screen-add-button" @click="addAnnouncement = true">
                    <v-icon>fa fa-plus</v-icon>
                </v-btn>
            </v-toolbar>

            <v-data-table
                    :headers="headers"
                    :items="announcements"
                    hide-actions
                    class="dataset">
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.title }}</td>
                    <td class="text-xs-right description">{{ props.item.content }}</td>
                    <td class="text-xs-right date" id="date">{{ props.item.date | moment("DD-MM-YYYY") }}</td>
                    <td class="justify-center layout px-0">
                        <v-btn flat icon color="green" class="edit-button" @click="editItem(props.item)">
                            <v-icon dark>fa fa-edit</v-icon>
                        </v-btn>

                        <v-btn flat icon color="red" class="edit-button" @click="deleteItem(props.item)">
                            <v-icon dark> fa fa-ban</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </div>

        <div class="text-xs-center">
            <v-pagination
                    class="pagination"
                    circle
                    v-model="page"
                    :length="totalPages"
                    :total-visible="5"
                    prev-icon="fa fa-angle-left"
                    next-icon="fa fa-angle-right"
            ></v-pagination>
        </div>
    </div>
</template>
<script>
    import AddAnnouncement from "../Announcements/AddAnnouncement"
    import EditAnnouncement from "../Announcements/EditAnnouncement"
    import DeleteAnnouncement from "../Announcements/DeleteAnnouncement"

    export default {
        data: () => ({
            announcements: null,
            headers: [
                {text: "Tytuł", align: "left", value: "title"},
                {text: "Opis", value: "content"},
                {text: "Data", value: "date"},
                {text: "Zarządzaj", value: "name", sortable: false}
            ],
            editAnnouncement: false,
            addAnnouncement: false,
            date: null,
            page: 1,
            totalPages: null,
            announcementDeleting: false,
            deleteAnnouncement: null,
        }),

        created() {
            this.fetchAnnouncements();
        },

        components: {
            AddAnnouncement,
            EditAnnouncement,
            DeleteAnnouncement
        },

        watch: {
            "page": function () {
                this.fetchAnnouncements();
            }
        },

        methods: {
            async fetchAnnouncements() {
                this.$http.get("Announcement?page=" + (this.page - 1) + "&pageSize=10")
                    .then(response => {
                        this.announcements = response.data.results;
                        this.totalPages = response.data.pageCount + 1;
                        this.scrollToTop();
                    });
            },

            scrollToTop() {
                setTimeout(() => {
                    window.scroll({
                        top: 0,
                        left: 0,
                        behavior: "smooth"
                    });
                }, 100);
            },

            editItem(item) {
                this.editedItem = Object.assign({}, item);
                this.date = item.date.substr(0, 10);
                this.editAnnouncement = true;
            },

            deleteItem(item) {
                this.announcementDeleting = true;
                this.deleteAnnouncement = Object.assign({}, item);
            },
        }
    }
</script>
<style lang="scss" scoped>
    .table {
        max-width: 1200px;
    }

    .pagination {
        padding-top: 25px;
    }

    .small-screen-add-button {
        display: none;
    }

    .edit-button {
        font-size: 2rem;
    }

    .router {
        text-decoration: none !important;
    }

    .description {
        max-width: 600px;
        min-width: 300px;
    }

    #date {
        min-width: 150px;
    }

    .dataset {
        min-width: 600px;
    }

    table * {
        text-align: left !important;
    }

    @media (max-width: 991px) {
        .table {
            width: 500px;
        }

        .dataset {
            min-width: 300px;
        }
    }

    @media (max-width: 767px) {
        .table {
            width: 100%;
        }
    }

    @media (max-width: 500px) {
        .add-button {
            display: none;
        }

        .small-screen-add-button {
            display: block;
            font-size: 2rem;
        }
    }
</style>
