<template>
    <v-dialog v-model="$parent.churchEdition" v-if="editedChurch" max-width="500px">
        <v-card>
            <v-card-text>
                <h1>Edycja danych kościoła</h1>

                <v-container grid-list-md>
                    <v-text-field v-validate="'required'" v-model="editedChurch.name"
                                  label="Nazwa" data-vv-name="nazwa"
                                  :error-messages="errors.collect('nazwa')"></v-text-field>

                    <v-text-field v-validate="'required'" v-model="editedChurch.address"
                                  label="Adres" data-vv-name="adres"
                                  :error-messages="errors.collect('adres')"></v-text-field>

                    <v-text-field v-validate="'required'" v-model="editedChurch.description"
                                  label="Opis" data-vv-name="opis"
                                  :error-messages="errors.collect('opis')"></v-text-field>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="save">Zapisz</v-btn>
                <v-btn color="blue darken-1" flat @click="close">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    const parishId = 1;
    export default {
        props: {
            editedChurch: {type: Object}
        },
        methods: {
            close() {
                this.$parent.churchEdition = false;
            },

            save() {
                this.$validator.validate().then(result => {
                    if (result) {
                        let data = {
                            Address: this.editedChurch.address,
                            Description: this.editedChurch.description,
                            Id: this.editedChurch.id,
                            Name: this.editedChurch.name,
                            ParishName: this.editedChurch.parishName,
                            ParishId: parishId,
                        };

                        this.$http.put("Church", data)
                            .then(response => {
                                this.$parent.fetchChurchData();
                                this.$parent.churchEdition = false;
                                this.churchEditedMessage();
                            })
                            .catch(error => {
                                this.$parent.churchEdition = false;
                                this.churchEditFailMessage();
                            })
                    }
                })
            },

            churchEditedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie edytowano dane kościoła");
            },

            churchEditFailMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się edytować danych kościoła");
            },
        },
    }
</script>