<template>
    <v-dialog v-model="$parent.parishEdition" v-if="editedParish" max-width="500px">
        <v-card>
            <v-card-text>
                <h1>Edycja danych parafii</h1>

                <v-container grid-list-md>
                    <v-text-field v-validate="'required'" v-model="editedParish.name"
                                  label="Nazwa" data-vv-name="nazwa"
                                  :error-messages="errors.collect('nazwa')"></v-text-field>

                    <v-text-field v-validate="'required'" v-model="editedParish.address"
                                  label="Adres" data-vv-name="adres"
                                  :error-messages="errors.collect('adres')"></v-text-field>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="save">Zapisz</v-btn>
                <v-btn color="blue darken-1" flat @click="close">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        props: {
            editedParish: {type: Object}
        },

        methods: {
            close() {
                this.$parent.parishEdition = false;
            },

            save() {
                this.$validator.validate().then(result => {
                    if (result) {
                        this.$http.put("Parish", this.editedParish)
                            .then(response => {
                                this.parishEditedMessage();
                                this.$parent.fetchParishData();
                                this.$parent.parishEdition = false;
                            })
                            .catch(error => {
                                this.parishEditFailMessage();
                                this.$parent.parishEdition = false;
                            })
                    }
                })
            },

            parishEditedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie edytowano dane parafii");
            },

            parishEditFailMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się edytować danych parafii");
            },
        },
    }
</script>