<template>
    <div class="management" v-if="events">
        <div class="table">
            <v-alert v-model="alert"
                     type="info">
                Wydarzenie zostało usunięte. Kliknij

                <v-btn color="#1769aa"
                       dark
                       @click="undoDeletion()">
                    COFNIJ
                </v-btn>

                aby cofnąć operację.
            </v-alert>

            <add-event v-if="addEvent"></add-event>
            <edit-event v-if="editEvent" :edited-item="editedItem" :date="date"></edit-event>
            <delete-event v-if="eventDeleting" :delete-event="deleteEvent"></delete-event>

            <v-toolbar flat>
                <v-toolbar-title>Wydarzenia</v-toolbar-title>

                <v-spacer></v-spacer>
                <v-btn class="add-button" color="green" dark @click="addEvent = true">Dodaj nowe
                    <v-icon dark right>fa fa-plus</v-icon>
                </v-btn>

                <v-btn flat icon color="green" class="small-screen-add-button" @click="addEvent = true">
                    <v-icon>fa fa-plus</v-icon>
                </v-btn>
            </v-toolbar>

            <v-data-table
                    class="dataset"
                    :headers="headers"
                    :items="events"
                    hide-actions>
                <template slot="items" slot-scope="props">
                    <td id="name">{{ props.item.name }}</td>
                    <td class="text-xs-right">{{ props.item.eventTypeName }}</td>
                    <td class="text-xs-right date" id="date">{{ props.item.date | moment("DD-MM-YYYY") }}</td>
                    <td class="justify-center layout px-0">
                        <v-btn flat icon color="green" class="edit-button" @click="editItem(props.item)">
                            <v-icon dark>fa fa-edit</v-icon>
                        </v-btn>

                        <v-btn flat icon color="red" class="edit-button" @click="deleteItem(props.item)">
                            <v-icon dark> fa fa-ban</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </div>

        <div class="text-xs-center">
            <v-pagination
                    class="pagination"
                    circle
                    v-model="page"
                    :length="totalPages"
                    :total-visible="5"
                    prev-icon="fa fa-angle-left"
                    next-icon="fa fa-angle-right"
            ></v-pagination>
        </div>
    </div>
</template>
<script>
    import AddEvent from "../Events/AddEvent"
    import EditEvent from "../Events/EditEvent"
    import DeleteEvent from "../Events/DeleteEvent"

    export default {
        data: () => ({
            alert: false,
            events: null,
            headers: [
                {text: "Nazwa", align: "left", value: "name"},
                {text: "Typ", value: "eventType"},
                {text: "Data", value: "date"},
                {text: "Zarządzaj", value: "name", sortable: false}
            ],
            date: null,
            page: 1,
            totalPages: null,
            addEvent: null,
            editEvent: null,
            deletedEventId: null,
            timeout: null,
            eventDeleting: false,
            deleteEvent: null,
        }),

        components: {
            AddEvent,
            EditEvent,
            DeleteEvent
        },

        created() {
            this.fetchEvents();
            this.fetchEventTypes();
        },

        watch: {
            dialog(val) {
                val || this.close();
            },

            "page": function () {
                this.fetchEvents();
            }
        },

        methods: {
            async fetchEvents() {
                this.$http.get("Event?page=" + (this.page - 1) + "&pageSize=10")
                    .then(response => {
                        this.events = response.data.results;
                        this.totalPages = response.data.pageCount + 1;
                        this.scrollToTop();
                    });
            },

            async fetchEventTypes() {
                this.$http.get("EventTypes")
                    .then(response => {
                        this.eventTypes = response.data;
                    });
            },

            scrollToTop() {
                setTimeout(() => {
                    window.scroll({
                        top: 0,
                        left: 0,
                        behavior: "smooth"
                    });
                }, 100);
            },

            getPictureName(picture) {
                switch (picture) {
                    case "Bible.png": {
                        return "Biblia";
                    }
                    case "Church.png": {
                        return "Kościół";
                    }
                    case "Baptism.png": {
                        return "Chrzest";
                    }
                    case "Communion.png": {
                        return "Komunia";
                    }
                    case "Confirmation.png": {
                        return "Bierzmowanie";
                    }
                    case "Retreat.png": {
                        return "Rekolekcje";
                    }
                    case "Pilgrimage.png": {
                        return "Pielgrzymka";
                    }
                    case "Wedding.png": {
                        return "Ślub";
                    }
                    case "Funeral.png": {
                        return "Pogrzeb";
                    }
                }
            },


            editItem(item) {
                this.editedItem = Object.assign({}, item);
                this.date = item.date.substr(0, 10);
                this.editEvent = true;
            },


            deleteItem(item) {
                this.eventDeleting = true;
                this.deleteEvent = Object.assign({}, item);
            },

            undoDeletion() {
                this.alert = false;
                this.$http.post("Event/undelete", {Id: this.deletedEventId})
                    .then(response => {
                        this.eventDeletionCanceledMessage();
                        this.fetchEvents();
                    })
                    .catch(error => {
                        this.eventDeletionCancelFailedMessage();
                    })
            },

            eventDeletedMessage() {
                this.alert = true;
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    this.alert = false;
                }, 5000)
            },

            eventDeletionCanceledMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie przywrócono wydarzenie.");
            },

            eventDeletionCancelFailedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się przywrócić wydarzenia.");
            },
        },
    }
</script>
<style lang="scss" scoped>
    .table {
        max-width: 1200px;
    }

    .pagination {
        padding-top: 25px;
    }

    .small-screen-add-button {
        display: none;
    }

    .edit-button {
        font-size: 2rem;
    }

    .router {
        text-decoration: none !important;
    }

    #date, #name {
        min-width: 150px;
    }

    .dataset {
        min-width: 600px;
    }

    table * {
        text-align: left !important;
    }

    @media (max-width: 991px) {
        .table {
            width: 500px;
        }

        .dataset {
            min-width: 300px;
        }
    }

    @media (max-width: 767px) {
        .table {
            width: 100%;
        }
    }

    @media (max-width: 500px) {
        .add-button {
            display: none;
        }

        .small-screen-add-button {
            display: block;
            font-size: 2rem;
        }
    }
</style>
