<template>
    <div class="management">
        <edit-parish v-if="editParish" :edited-parish="editedParish"></edit-parish>
        <edit-church v-if="editChurch" :edited-church="editedChurch"></edit-church>
        <div class="parish-manage" v-if="parish">
            <v-toolbar flat class="toolbar">
                <v-toolbar-title>Parafia</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-btn class="add-button" color="green" dark @click="editParish()">Edytuj dane
                    <v-icon dark right>fa fa-edit</v-icon>
                </v-btn>
            </v-toolbar>

            <p>Dane parafii:</p>
            <p>Nazwa: {{ parish.name }}</p>
            <p>Adres: {{ parish.address }}</p>
        </div>

        <div class="church-manage" v-if="church">
            <v-toolbar flat class="toolbar">
                <v-toolbar-title>Kościół</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-btn class="add-button" color="green" dark @click="editChurch()">Edytuj dane
                    <v-icon dark right>fa fa-edit</v-icon>
                </v-btn>
            </v-toolbar>

            <p>Dane kościoła:</p>
            <p>Nazwa: {{ church.name }}</p>
            <p>Adres: {{ church.address }}</p>
            <p v-if="church.description">Opis: {{ church.description }}</p>
        </div>
    </div>
</template>
<script>
    const parishId = 1;
    import EditParish from "./EditParish"
    import EditChurch from "./EditChurch"

    export default {
        data: () => ({
            parish: null,
            church: null,
            parishEdition: false,
            churchEdition: false,
            editedParish: null,
            editedChurch: null,
        }),

        components: {
            EditChurch,
            EditParish,
        },

        created() {
            this.fetchParishData();
            this.fetchChurchData();
        },

        methods: {
            fetchParishData() {
                this.$http.get("Parish/" + parishId)
                    .then(response => {
                        this.parish = response.data;
                    })
            },

            fetchChurchData() {
                this.$http.get("Church")
                    .then(response => {
                        this.church = response.data[0];
                    })
            },

            editParish() {
                this.editedParish = Object.assign({}, this.parish);
                this.parishEdition = true;
            },

            editChurch() {
                this.editedChurch = Object.assign({}, this.church);
                this.churchEdition = true;
            },
        }
    }
</script>
<style lang="scss" scoped>
    .management {
        max-width: 1200px;
    }

    p {
        padding-left: 25px;
        text-align: left;
    }

    .toolbar {
        margin-bottom: 10px;
    }

    .parish-manage {
        padding-bottom: 35px;
    }
</style>
