<template>
    <v-dialog v-model="$parent.userDeleting" max-width="500px">
        <v-card>
            <v-card-text>
                <h1>Usuń użytkownika</h1>
                <v-container grid-list-md v-if="deleteUser">
                    <p>Użytkownik: {{ deleteUser.name }} {{ deleteUser.surname}}</p>
                    <p>Data urodzenia: {{ deleteUser.birthDate | moment("DD-MM-YYYY") }}</p>
                    <p>Pozycja w kościele: {{ deleteUser.churchPosition }}</p>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" flat @click="save()" :disabled="disableButton">Usuń</v-btn>
                <v-btn color="blue darken-1" flat @click="$parent.userDeleting = false">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: () => ({
            disableButton: false,
        }),

        props: {
            deleteUser: {type: Object}
        },

        methods: {
            save() {
                this.disableButton = true;
                this.$http.delete("Users", {data: {Id: this.deleteUser.id}})
                    .then(response => {
                        this.userDeletedMessage();
                        this.$parent.fetchUsers();
                        this.close();
                    })
                    .catch(error => {
                        this.userDeletionFailedMessage();
                        this.close();
                    })
            },

            close() {
                this.$parent.userDeleting = false;
                this.disableButton = false;
            },

            userDeletedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.i("Pomyślnie usunięto użytkownika");
            },

            userDeletionFailedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się usunąć użytkownika");
            },
        },
    }
</script>