<template>
    <v-dialog v-model="$parent.editUser" max-width="500px">
        <v-card>
            <v-card-text>
                <v-container grid-list-md>
                    <v-flex>
                        <v-text-field v-validate="'required|alpha|min:2|max:256'"
                                      v-model="editedItem.name"
                                      label="Imię" data-vv-name="imię"
                                      :error-messages="errors.collect('imię')"></v-text-field>
                    </v-flex>

                    <v-flex>
                        <v-text-field v-validate="'required|alpha|min:2|max:256'"
                                      v-model="editedItem.surname"
                                      label="Nazwisko" data-vv-name="nazwisko"
                                      :error-messages="errors.collect('nazwisko')"></v-text-field>
                    </v-flex>

                    <v-text-field
                            v-validate="'required|email'"
                            v-model="editedItem.email"
                            :error-messages="errors.collect('email')"
                            label="Email"
                            data-vv-name="email"
                            required>
                    </v-text-field>

                    <v-select v-if="positionTypes"
                              v-validate.in="'required'"
                              :items="positionTypes"
                              v-model="selectedPosition"
                              item-value="id"
                              item-text="name"
                              :error-messages="errors.collect('pozycja')"
                              label="Pozycja kościelna"
                              data-vv-name="pozycja"
                              required
                              :placeholder="editedItem.churchPosition">
                    </v-select>

                    <v-select
                            v-validate.in="'required'"
                            :items="roles"
                            v-model="editUserRole"
                            :error-messages="errors.collect('rola')"
                            label="Rola"
                            data-vv-name="rola"
                            required>
                    </v-select>

                    <v-menu :close-on-content-click="false"
                            v-model="editUserBirthDate"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px">
                        <v-text-field
                                slot="activator"
                                v-model="date"
                                label="Data urodzenia"
                                prepend-icon="fa fa-calendar"
                        ></v-text-field>
                        <v-date-picker locale="pl" v-model="date" :first-day-of-week="1"
                                       color="green lighten-1"
                                       @input="editUserBirthDate = false"></v-date-picker>
                    </v-menu>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="save" :disabled="disableButton">Zapisz</v-btn>
                <v-btn color="blue darken-1" flat @click="close">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: () => ({
            date: null,
            positionTypes: null,
            roles: [
                "Admin",
                "Moderator",
                "User",
            ],
            disableButton: false,
            editUserBirthDate: false,
            selectedPosition: null,
        }),

        created() {
            this.fetchPositionTypes();
            this.date = this.$parent.date;
        },

        props: {
            editedItem: {type: Object},
            editUserRole: {type: String}
        },

        methods: {
            async fetchEventTypes() {
                this.$http.get("EventTypes")
                    .then(response => {
                        this.eventTypes = response.data;
                    });
            },

            fetchPositionTypes() {
                this.$http.get("ChurchPositionType")
                    .then(response => {
                        this.positionTypes = response.data
                    })
            },

            save() {
                this.$validator.validate().then(result => {
                    if (result) {
                        this.disableButton = true;

                        let data = {
                            name: this.editedItem.name,
                            surname: this.editedItem.surname,
                            role: this.editUserRole,
                            id: this.editedItem.id,
                            birthDate: this.date,
                            ChurchPositionTypeId: this.selectedPosition,
                        };

                        this.$http.put("Users", data, null)
                            .then(response => {
                                this.userEditedMessage();
                                this.$parent.fetchUsers();
                                this.close();
                            })
                            .catch(error => {
                                this.userEditFailMessage();
                                this.close();
                            })
                    }
                })
            },

            close() {
                this.$parent.editUser = false;
                this.disableButton = false;
            },

            userEditedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie edytowano dane użytkownika");
            },

            userEditFailMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się edytować danych użytkownika");
            },
        },
    }
</script>