<template>
    <div class="registration">
        <h1>Formularz rejestracji użytkowników</h1>
        <form class="form">
            <v-text-field
                    v-validate.in="'required|alpha|min:2|max:256'"
                    v-model="name"
                    :error-messages="errors.collect('imie')"
                    label="Imię"
                    data-vv-name="imie"
                    required>
            </v-text-field>

            <v-text-field
                    v-validate.in="'required|alpha|min:2|max:256'"
                    v-model="surname"
                    :error-messages="errors.collect('nazwisko')"
                    label="Nazwisko"
                    data-vv-name="nazwisko"
                    required>
            </v-text-field>

            <v-text-field
                    v-validate.in="'required|email'"
                    v-model="email"
                    :error-messages="errors.collect('email')"
                    label="Email"
                    data-vv-name="email"
                    required>
            </v-text-field>

            <v-text-field
                    v-validate.in="'required|min:4'"
                    v-model="password"
                    :ref="'hasło'"
                    type="password"
                    :error-messages="errors.collect('hasło')"
                    label="Hasło"
                    data-vv-name="hasło"
                    required>
            </v-text-field>

            <v-text-field
                    v-validate.in="'required|min:4|confirmed:hasło'"
                    v-model="passwordConfirmation"
                    type="password"
                    :error-messages="errors.collect('powtórz hasło')"
                    label="Powtórz hasło"
                    data-vv-name="powtórz hasło"
                    required>
            </v-text-field>

            <v-select
                    v-validate.in="'required'"
                    :items="positionTypes"
                    v-model="selectedPosition"
                    item-value="id"
                    item-text="name"
                    :error-messages="errors.collect('pozycja')"
                    label="Pozycja kościelna"
                    data-vv-name="pozycja"
                    required>
            </v-select>

            <v-select
                    v-validate.in="'required'"
                    :items="roles"
                    v-model="selectedRole"
                    :error-messages="errors.collect('ranga')"
                    label="Ranga"
                    data-vv-name="ranga"
                    required>
            </v-select>

            <v-flex>
                <v-menu :close-on-content-click="false"
                        v-model="birthDate"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px">
                    <v-text-field
                            slot="activator"
                            v-model="date"
                            label="Data urodzenia"
                            prepend-icon="fa fa-calendar"
                            readonly
                    ></v-text-field>
                    <v-date-picker locale="pl" v-model="date" :first-day-of-week="1" color="green lighten-1"
                                   @input="birthDate = false"></v-date-picker>
                </v-menu>
            </v-flex>

            <v-btn @click="submit()" :disabled="loading" dark color="green">Zarejestruj</v-btn>
        </form>
    </div>
</template>
<script>
    export default {
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
            birthDate: null,
            name: null,
            surname: null,
            email: null,
            selectedRole: null,
            selectedPosition: null,
            password: null,
            passwordConfirmation: null,
            roles: [
                "Admin",
                "Moderator",
                "User",
            ],
            positionTypes: null,
            checkbox: null,
            loading: false,
        }),

        created() {
            this.fetchPositionTypes();
        },

        methods: {
            fetchPositionTypes() {
                this.$http.get("ChurchPositionType")
                    .then(response => {
                        this.positionTypes = response.data
                    })
            },

            async submit() {
                this.$validator.validate().then(result => {
                    if (result) {
                        this.loading = true;
                        let data = {
                            Name: this.name,
                            Surname: this.surname,
                            BirthDate: this.date,
                            Role: this.selectedRole,
                            ChurchPositionTypeId: this.selectedPosition,
                            Email: this.email,
                            Password: this.password,
                        };

                        this.$http.post("Users", data)
                            .then(response => {
                                this.clearForm();
                                this.userRegisteredMessage();
                                this.loading = false;
                                this.$parent.showComponent = "users";
                            })
                            .catch(error => {
                                this.userRegisterFailMessage();
                                this.loading = false;
                            });
                    }
                })
            },

            clearForm() {
                this.name = null;
                this.surname = null;
                this.email = null;
                this.selectedRole = null;
                this.password = null;
                this.passwordConfirmation = null;
            },

            userRegisteredMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie zarejestrowano nowego użytkownika");
            },

            userRegisterFailMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się zarejestrować nowego użytkownika");
            },

        }
    }
</script>
<style lang="scss" scoped>
    .form {
        max-width: 700px;
    }

    h1 {
        font-size: 1.6rem;
        padding: 10px 0;
        max-width: 700px;
    }

    @media (max-width: 767px) {
        h1 {
            padding-bottom: 25px;
        }
    }
</style>
