<template>
    <div class="management" v-if="users">
        <div class="table">
            <delete-user v-if="userDeleting" :delete-user="deleteUser"></delete-user>
            <edit-user v-if="editUser" :edited-item="editedItem" :edit-user-role="editUserRole"></edit-user>

            <v-toolbar flat>
                <v-toolbar-title>Użytkownicy</v-toolbar-title>

            </v-toolbar>

            <v-data-table
                    :headers="headers"
                    :items="users"
                    hide-actions
                    class="dataset">
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.surname }}</td>
                    <td class="text-xs-right">{{ props.item.name }}</td>
                    <td class="text-xs-right">{{ props.item.churchPosition }}</td>
                    <td class="text-xs-right">{{ props.item.roles[0] }}</td>
                    <td class="justify-center layout px-0">
                        <v-btn flat icon color="green" class="edit-button" @click="editItem(props.item)">
                            <v-icon dark>fa fa-edit</v-icon>
                        </v-btn>

                        <v-btn flat icon color="red" class="edit-button" @click="deleteItem(props.item)">
                            <v-icon dark> fa fa-ban</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </div>

        <div class="text-xs-center">
            <v-pagination
                    class="pagination"
                    circle
                    v-model="page"
                    :length="totalPages"
                    :total-visible="5"
                    prev-icon="fa fa-angle-left"
                    next-icon="fa fa-angle-right"
            ></v-pagination>
        </div>
    </div>
</template>
<script>
    import DeleteUser from "./DeleteUser"
    import EditUser from "./EditUser";

    export default {
        data: () => ({
            users: null,
            headers: [
                {text: "Nazwisko", align: "left", value: "surname"},
                {text: "Imię", value: "name"},
                {text: "Pozycja", value: "churchPosition"},
                {text: "Rola", value: "role", sortable: false},
                {text: "Zarządzaj", value: "name", sortable: false}
            ],
            editedItem: null,
            date: null,
            editUserRole: null,
            page: 1,
            totalPages: null,
            userDeleting: false,
            deleteUser: null,
            editUser: false,
        }),

        components: {
            EditUser,
            DeleteUser,
        },

        watch: {
            "page": function () {
                this.fetchUsers();
            }
        },

        created() {
            this.fetchUsers();
        },

        methods: {
            async fetchUsers() {
                this.$http.get("Users?page=" + (this.page - 1) + "&pageSize=10")
                    .then(response => {
                        this.users = response.data.results;
                        this.totalPages = response.data.pageCount + 1;
                        this.scrollToTop();
                    });
            },

            scrollToTop() {
                setTimeout(() => {
                    window.scroll({
                        top: 0,
                        left: 0,
                        behavior: "smooth"
                    });
                }, 100);
            },

            editItem(item) {
                this.editUser = true;
                this.editedItem = Object.assign({}, item);
                this.date = item.birthDate.substr(0, 10);
                this.editUserRole = this.editedItem.roles[0];
            },

            deleteItem(item) {
                this.userDeleting = true;
                this.deleteUser = Object.assign({}, item);
            },
        },
    }
</script>
<style lang="scss" scoped>
    .table {
        max-width: 1000px;
    }

    .icon {
        padding: 0 10px;
    }

    .pagination {
        padding-top: 25px;
    }

    .dataset {
        min-width: 600px;
    }

    .edit-button {
        font-size: 2rem;
    }

    table * {
        text-align: left !important;
    }

    @media (max-width: 991px) {
        .table {
            width: 500px;
        }

        .dataset {
            min-width: 300px;
        }
    }

    @media (max-width: 767px) {
        .table {
            width: 100%;
        }
    }
</style>
