<template>
    <section class="login">
        <v-container class="wrapper">
            <v-form @keyup.native.enter="submit()"
                    class="form" ref="form" v-model="valid" lazy-validation>
                <v-text-field
                        v-validate.in="'required|email'"
                        v-model="email"
                        :error-messages="errors.collect('email')"
                        label="Email"
                        data-vv-name="email"
                        required>
                </v-text-field>

                <v-text-field
                        v-validate.in="'required|min:4'"
                        v-model="password"
                        type="password"
                        :error-messages="errors.collect('hasło')"
                        label="Hasło"
                        data-vv-name="hasło"
                        required>
                </v-text-field>

                <div class="button-wrapper">
                    <v-btn :disabled="loading" @click="submit()">
                        Zaloguj
                    </v-btn>
                </div>
            </v-form>
        </v-container>

        <div class="footer">
            <v-layout row justify-center>
                <v-btn color="activator" @click="toggleModal = true"> Nie możesz się zalogować?
                </v-btn>

                <v-dialog v-model="toggleModal" max-width="500px">
                    <v-card class="modal">
                        <v-card-title> Przypomnij hasło
                        </v-card-title>

                        <v-card-text>
                            <v-text-field
                                    v-validate.in="'email'"
                                    v-model="forgottenEmail"
                                    :error-messages="errors.collect('email reset')"
                                    label="Email"
                                    data-vv-name="email reset"
                                    required>
                            </v-text-field>

                            <v-btn color="primary" dark @click="sendResetMail()">Wyślij email</v-btn>

                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="primary" flat @click="toggleModal=false">Anuluj</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>
        </div>
    </section>
</template>
<script>
    export default {
        data: () => ({
            users: null,
            valid: true,
            password: null,
            email: null,
            forgottenEmail: null,
            toggleModal: false,
            response: null,
            loading: false,
        }),

        methods: {
            async submit() {
                this.$validator.validate().then(result => {
                    if (result) {
                        this.loading = true;
                        let data = {
                            username: this.email,
                            password: this.password,
                        };

                        this.$http.post("Authentication/login", data)
                            .then(response => {
                                    let data = response.data;
                                    let token = data.token;
                                    let refreshToken = data.refreshToken;
                                    let authData = data.user;
                                    this.$auth.setTokens(refreshToken, token);
                                    this.$auth.setAuthData(authData);
                                    this.$store.commit("passAuthData", authData);
                                    this.$http.defaults.headers.common["Authorization"] = "Bearer " + token;
                                    this.loggedInMessage();
                                    this.loading = false;
                                this.$router.push({name: "Homepage"});
                            })
                            .catch(error => {
                                this.loginFailedMessage();
                                this.clearForm();
                                this.loading = false;
                            })
                    }
                })
            },

            clearForm() {
                this.email = null;
                this.password = null;
            },

            loggedInMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Pomyślnie zalogowano");
            },

            loginFailedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Nie udało się zalogować");
            },

            async sendResetMail() {
                let data = {
                    Email: this.forgottenEmail,
                    MailRedirectUrl: "http://church-manager.gsikorski.cloud/resetuj-haslo/",
                };

                this.$http.post("Authentication/password/forgot", data)
                    .then(response => {
                        this.toggleModal = false;
                        this.resetEmailSentMessage();
                    }).catch(error => {
                    this.resetEmailErrorMessage();
                })
            },

            resetEmailSentMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Email resetujący hasło został wysłany");
            },

            resetEmailErrorMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Niepoprawny adres email");
            },
        }
    }
</script>
<style lang="scss" scoped>
    .login {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .wrapper {
        background: white;
        margin-top: 50px;
        max-width: 400px;
        border: #80b542 solid 1px;
    }

    .form {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .button-wrapper {
        margin-top: 25px;
    }
</style>
