<template>
    <section class="login">
        <v-container class="wrapper">
            <v-form @keyup.native.enter="submit()"
                    class="form" ref="form" lazy-validation>

                <v-text-field
                        v-validate.in="'required|email'"
                        v-model="email"
                        :error-messages="errors.collect('email')"
                        label="Email"
                        data-vv-name="email"
                        required>
                </v-text-field>

                <v-text-field
                        v-validate.in="'required|min:4'"
                        v-model="newPassword"
                        :ref="'hasło'"
                        type="password"
                        :error-messages="errors.collect('hasło')"
                        label="Hasło"
                        data-vv-name="hasło"
                        required>
                </v-text-field>

                <v-text-field
                        v-validate.in="'required|min:4|confirmed:hasło'"
                        v-model="confirmNewPassword"
                        type="password"
                        :error-messages="errors.collect('powtórz hasło')"
                        label="Powtórz hasło"
                        data-vv-name="powtórz hasło"
                        required>
                </v-text-field>

                <div class="button-wrapper" @click="submit()">
                    <v-btn :disabled="loading">
                        Zmień hasło
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </section>
</template>
<script>
    export default {
        data: () => ({
            email: null,
            newPassword: null,
            confirmNewPassword: null,
            loading: false,
        }),

        methods: {
            async submit() {
                this.$validator.validate().then(result => {
                    if (result) {
                        this.loading = true;
                        let data = {
                            Token: this.$route.query.token,
                            Email: this.email,
                            NewPassword: this.newPassword,
                            ConfirmNewPassword: this.confirmNewPassword,
                        };

                        this.$http.post("/Authentication/password/reset", data)
                            .then(response => {
                                this.passwordChangedMessage();
                                this.clearForm();
                                this.loading = false;
                                this.$router.push({name: "Login"});
                            })
                            .catch(error => {
                                this.clearForm();
                                const status = error.response.data[0].code;
                                if (status === "InvalidToken") {
                                    this.incorrectTokenMessage();
                                } else {
                                    this.passwordResetFailMessage();
                                }
                            });
                        this.loading = false;
                    }
                })
            },

            clearForm() {
                this.email = null;
                this.newPassword = null;
                this.confirmNewPassword = null;
            },

            passwordChangedMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.s("Hasło zostało zmienione");
            },

            passwordResetFailMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Niepoprawne dane");
            },

            incorrectTokenMessage() {
                this.$toastr.defaultPosition = "toast-top-center";
                this.$toastr.e("Strona nie istnieje");
            },
        }
    }
</script>
<style lang="scss" scoped>
    .login {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .wrapper {
        background: white;
        margin-top: 50px;
        max-width: 400px;
        border: #a13849 solid 1px;
    }

    .form {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .button-wrapper {
        margin-top: 25px;
    }
</style>
