<template>
    <section class="charts">
        <v-container>
            <h1>Statystyki parafii</h1>
            <segments-selection v-if="segmentsModal" :communions="communions" :collectionAmount="collectionAmount"
                                :entries="entries" :collectionCount="collectionCount"></segments-selection>

            <v-select
                    v-validate.in="'required'"
                    :items="eventTypes"
                    v-if="eventTypes"
                    v-model="chosenEventType"
                    item-value="id"
                    item-text="name"
                    :error-messages="errors.collect('typ wydarzenia')"
                    label="Typ wydarzenia"
                    data-vv-name="typ wydarzenia"
                    class="event-type-selection"
                    required>
            </v-select>

            <v-flex>
                <v-menu :close-on-content-click="false"
                        v-model="startDateSelection"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                        class="date">
                    <v-text-field
                            slot="activator"
                            v-model="startDate"
                            label="Data początkowa"
                            prepend-icon="fa fa-calendar"
                            readonly
                    ></v-text-field>
                    <v-date-picker locale="pl" v-model="startDate" :first-day-of-week="1" color="green lighten-1"
                                   @input="startDateSelection = false"></v-date-picker>
                </v-menu>

                <v-menu :close-on-content-click="false"
                        v-model="endDateSelection"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                        class="date">
                    <v-text-field
                            slot="activator"
                            v-model="endDate"
                            label="Data końcowa"
                            prepend-icon="fa fa-calendar"
                            readonly
                    ></v-text-field>
                    <v-date-picker locale="pl" v-model="endDate" :first-day-of-week="1" color="green lighten-1"
                                   @input="endDateSelection = false"></v-date-picker>
                </v-menu>
            </v-flex>

            <h1>Wykres statystyk</h1>
            <div class="mass-chart" v-if="massStatisticsExist && !loading">
                <la-cartesian narrow :bound="[0, n => n + 10]" :data="massStatistics">
                    <la-line dot prop="communions" label="Komunie" v-if="communions" color="#3fb1e3"></la-line>
                    <la-line dot prop="entries" label="Wejścia" v-if="entries" color="#6be6c1"></la-line>
                    <la-line dot prop="collectionAmount" label="Datki" v-if="collectionAmount"
                             color="#a0a7e6"></la-line>
                    <la-line dot prop="collectionCount" label="Ilość wpłat"
                             v-if="collectionCount && massSelected"
                             color="#626c91"></la-line>
                    <la-x-axis prop="day" :interval="i => i === 0 || i === massStatistics.length - 1 || i % 30 === 0"></la-x-axis>
                    <la-y-axis :interval="2" :format="v => Math.round(v)"></la-y-axis>
                    <la-tooltip></la-tooltip>
                    <la-legend selectable></la-legend>
                </la-cartesian>
            </div>

            <v-progress-circular
                    v-else
                    :width="3"
                    color="light-blue"
                    indeterminate
            ></v-progress-circular>

            <div class="button-wrapper">
                <v-btn color="light-blue" class="segments" @click="segmentsModal = true">
                    Wybierz segmenty
                </v-btn>
            </div>

            <div class="number-data" v-if="showSumms">
                <h1>Dane liczbowe</h1>

                <div v-if="communionsSumm"><label>Suma komunii:</label>{{ communionsSumm }}</div>
                <div v-if="entriesSumm"><label>Suma wejść:</label>{{ entriesSumm }}</div>
                <div v-if="collectionAmountSumm"><label>Suma zebranych pieniędzy:</label>{{ collectionAmountSumm }} zł
                </div>
            </div>
        </v-container>
    </section>
</template>

<script>
    import SegmentsSelection from "./SegmentsSelection"

    export default {
        data: () => ({
            startDate: new Date(new Date().setDate(new Date().getDate() - 7)).toISOString().substr(0, 10),
            startDateSelection: false,
            endDate: new Date(new Date().setDate(new Date().getDate() + 2)).toISOString().substr(0, 10),
            endDateSelection: false,
            massStatistics: null,
            massStatisticsExist: null,
            segmentsModal: false,

            communions: false,
            entries: true,
            collectionAmount: true,
            collectionCount: false,

            communionsSumm: null,
            entriesSumm: null,
            collectionAmountSumm: null,
            collectionCountSumm: null,

            chosenEventType: 0,
            eventTypes: [],
            loading: false,
            showSumms: false,
        }),

        computed: {
            massSelected() {
                return this.chosenEventType === 0
            }
        },

        components: {
            SegmentsSelection
        },

        created() {
            this.fetchMassData();
            this.fetchEventTypes();
        },

        methods: {
            fetchMassData() {
                this.showSumms = false;
                this.loading = true;
                let data = {
                    StartDate: this.startDate,
                    EndDate: this.endDate,
                };

                this.$http.post("Mass/stats", data)
                    .then(response => {
                        this.massStatistics = response.data;
                        this.massStatisticsExist = response.data[0];
                        this.summCommunions();
                        this.showSumms = true;
                        setTimeout(() => {
                            this.loading = false;
                        }, 300);
                    })
            },

            fetchEventData() {
                this.showSumms = false;
                this.loading = true;
                let data = {
                    Id: this.chosenEventType,
                    StartDate: this.startDate,
                    EndDate: this.endDate,
                };

                this.$http.post("Event/stats", data)
                    .then(response => {
                        this.massStatistics = response.data;
                        this.massStatisticsExist = response.data[0];
                        this.showSumms = true;
                        setTimeout(() => {
                            this.loading = false;
                        }, 300);
                    })
            },

            async fetchEventTypes() {
                this.$http.get("EventTypes")
                    .then(response => {
                        this.eventTypes = response.data;
                        let mass = {name: "Msza święta", id: 0};
                        this.eventTypes.push(mass);
                    });
            },

            summCommunions() {
                if (this.massStatistics) {
                    let i;
                    for (i = 0; i < this.massStatistics.length; i++) {
                        this.communionsSumm += this.massStatistics[i].communions;
                        this.entriesSumm += this.massStatistics[i].entries;
                        this.collectionAmountSumm += this.massStatistics[i].collectionAmount;
                    }
                }
            },

            fetchStatistics() {
                if (this.chosenEventType === 0) {
                    this.fetchMassData();
                } else {
                    this.fetchEventData();
                }
            },
        },

        watch: {
            "startDate": function () {
               this.fetchStatistics();
            },
            "endDate": function () {
                this.fetchStatistics();
            },
            "chosenEventType": function () {
                this.fetchStatistics();
            }
        },
    };
</script>
<style lang="scss" scoped>
    .charts {
        padding: 70px 0;
    }

    h1 {
        font-size: 1.6rem;
        font-weight: normal;
        text-align: left;
        margin-bottom: 25px;
        border-bottom: #3fb1e3 solid 1px;
    }

    .date, .event-type-selection {
        width: 400px;
    }

    .number-data {
        padding-top: 35px;
        text-align: left;
        div {
            padding-bottom: 5px;
            margin-bottom: 10px;
            border-bottom: rgba(63, 177, 227, 0.40) solid 1px;
            label {
                font-weight: bold;
                min-width: 400px;
                display: inline-flex;
            }
        }

    }

    .button-wrapper {
        padding-top: 25px;
        text-align: left;

        .segments {
            color: white;
        }
    }

    @media (max-width: 480px) {
        .date, .type {
            width: 260px;
        }
    }
</style>