<template>
    <v-dialog v-model="$parent.segmentsModal" max-width="500px">
        <v-card>
            <v-card-text>
                <h1>Wybierz segmenty</h1>
                <v-container grid-list-md>
                    <v-flex xs12 sm4 md4>
                        <v-checkbox
                                v-model="selectEntries"
                                label="Wejścia"
                                color="#6be6c1"
                                hide-details
                        ></v-checkbox>

                        <v-checkbox
                                v-model="selectCommunions"
                                label="Przyjęte komunie"
                                color="#3fb1e3"
                                hide-details
                        ></v-checkbox>

                        <v-checkbox
                                v-model="selectCollectionAmount"
                                label="Zebrane datki"
                                color="#a0a7e6"
                                hide-details
                        ></v-checkbox>

                        <v-checkbox
                                v-show="$parent.massSelected"
                                v-model="selectCollectionCount"
                                label="Ilość wpłat"
                                color="#626c91"
                                hide-details
                        ></v-checkbox>
                    </v-flex>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="save">Zapisz</v-btn>
                <v-btn color="blue darken-1" flat @click="close">Anuluj</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        data: () => ({
            selectCommunions: null,
            selectEntries: null,
            selectCollectionAmount: null,
            selectCollectionCount: null,
        }),

        props: {
            communions: {type: Boolean},
            entries: {type: Boolean},
            collectionAmount: {type: Boolean},
            collectionCount: {type: Boolean},
        },

        created() {
            this.selectCommunions = this.communions;
            this.selectEntries = this.entries;
            this.selectCollectionAmount = this.collectionAmount;
            this.selectCollectionCount = this.collectionCount;
        },

        methods: {
            close() {
                this.$parent.segmentsModal = false;
            },

            save() {
                this.$parent.communions = this.selectCommunions;
                this.$parent.entries = this.selectEntries;
                this.$parent.collectionAmount = this.selectCollectionAmount;
                this.$parent.collectionCount = this.selectCollectionCount;
                this.$parent.segmentsModal = false;
            }
        }
    }
</script>
<style lang="scss" scoped>
</style>