<template>
    <section id="app">
        <v-app>
            <navbar class="navbar"></navbar>
            <router-view class="view"/>
            <bottom></bottom>
        </v-app>
    </section>
</template>
<script>
    import Navbar from "./components/Layout/Navbar"
    import Bottom from "./components/Layout/Footer"

    export default {
        name: 'App',
        components: {
            Navbar,
            Bottom,
        },

        async created() {
            await this.$auth.refreshToken();
        }
    }
</script>

<style lang="scss">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: flex;
        min-height: 95vh;
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        z-index: 100;
    }

    .view {
        z-index: 10;
        flex: 1;
    }
</style>
